<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BCrypt-Official" version="0.1.109" targetFramework="net452" />
  <package id="grandtheftmultiplayer.api" version="0.1.640.64" targetFramework="net452" />
  <package id="ini-parser" version="2.5.2" targetFramework="net452" />
  <package id="MySql.Data" version="6.9.9" targetFramework="net452" />
  <package id="NLog" version="4.4.12" targetFramework="net452" />
</packages>